<%- include ('../partials/boilerplate') %>
    <div >
        <form class="fill" id="add" action="/emp" method='POST'>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="age" placeholder="Age">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="department" placeholder="Department">
            <input type='submit' value='Add' />
            </form>
    </div>
    <%- include ('../partials/end') %>