<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>
<body>
    <div class="pageTitle">
        <a href="/emp/add">Add New Employee</a>
        <h2>My Employees:</h2>
       <% for(i of data.emp){ %>
         <div class="data">
             <h3><%=i.name%></h3>
             <a class="infoLink" href="/emp/<%=i.id%>">More Info</a>
             <a class="editLink" href="/emp/<%=i.id%>/edit">Edit</a>

             <form method="POST" action="/emp/<%=i.id%>?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
         </div>
         <% } %>
    </div>
</body>
</html>