<%- include ('./partials/boilerplate') %>
    <div>
        <nav>
            <a class="mainLinks" href="/emp">Employees Management</a>
            <a class="mainLinks" href="/dep">Departments Management</a>
            <a class="mainLinks" href="/reg">Add New User</a>
            <a class="mainLinks" href="auth/logout">logout</a>
        </nav>
    </div>

    <script src="/src/main.js"></script>
    <%- include ('./partials/end') %>