<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>
<body>
    <div>
        <nav class="mainLinks">
            <a href="/emp">Employees Management</a>
        </nav>
    </div>
    <%- include('./auth/login') -%>
    <%- include('./auth/register') -%>
    <script src="/src/main.js"></script>
</body>
</html>