<%- include ('../partials/boilerplate') %>
    <div >
        <form class="fill" id="add" action="/dep" method='POST'>
            <input type="text" name="department_name" placeholder="Department_Name">
            <input type="text" name="location" placeholder="Location">
            <input type="text" name="email" placeholder="Email">
            <input type='submit' value='Add' />
            </form>
    </div>

    <%- include ('../partials/end') %>